[submodule "AK Zeus/libs/WikipediaData"]
	path = AK Zeus/libs/WikipediaData
	url = https://github.com/Msent20/AKZEUS3Wikipedia.git
[submodule "AK Zeus/libs/AKApolo2LastFM"]
	path = AK Zeus/libs/AKApolo2LastFM
	url = https://github.com/Federicotalmon/AKApolo2LastFM.git
[submodule "AK Zeus/libs/Hera3-Module"]
	path = AK Zeus/libs/Hera3-Module
	url = https://github.com/santiagopardal/Hera3-Module.git
